.action-footer {
  @include tablet {
    margin-left: 70px;
  }

  @include desktop {
    // max-width: 206px;
    margin-left: 70px;
    // margin-left: auto;
    // margin-right: auto;
  }

  display: block;
  margin-left: 0;
  margin-right: 0;
  // width: 206px;

  // @media screen and (min-width: 768px) {
  //   // display: block;
  //   // margin-left: 165px;
  // }
}

.test-soc {
  display: block;
  // margin: 0;
  // margin-left: auto;
  // margin-right: auto;

  @include tablet {
    display: flex;
    align-items: baseline;
    // margin: 0 auto;
    // margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
    margin: 0;
  }
}

.action-text {
  @include font(14px, 700, 1.2);

  @include tablet {
    // display: flex;
  }

  @include desktop {
    display: block;
  }

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text;
}

.action__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.action__item {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.action__link {
  @include desktop {
    margin-bottom: 0;
  }

  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-color;
    background: $accent-color;
    outline: none;
  }
}
