.header-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ececec;
}

.current {
  position: relative;
  display: block;
  color: $accent-color;
}

.item .current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

.main-nav {
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  @include font (24px, 700, 1.2);
  @include tablet {
    padding: 26px 0px 26px 15px;
  }

  @include desktop {
@include font (26px, 700, 1.2)
  }

  display: block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: $logo-color;
  padding: 16px 0px 16px 15px;

  &-span {
    color: $accent-color;
  }

  &:focus {
    outline: none;
  }
}

.hidden-nav {
  @include tablet {
    display: flex;
    margin-left: 88px;
  }

  display: none;
}

.hidden-contacts {
  @include tablet {
    display: block;
    // padding: 21px 21px;
  }

  display: none;
}

.nav-item .item + .item {
  margin-left: 50px;
}

.nav-link {
  @include font(14px, 500, 1.14);
  @include tablet {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  display: block;
  color: $basic-text-color;
  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;
  color: currentColor;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.contacts-link {
  @include tablet {
    text-decoration: none;
    padding-bottom: 10px;
  }
}

.auth-nav {
  @include desktop {
    display: flex;
  }
  margin-left: auto;

  & .item + .item {
    @include tablet {
      margin-left: 0;
    }
    margin-left: 50px;
  }
}

.contacts-header {
  color: $secondary-color;
}

.contact-icon {
  display: flex;
}

.contact-svg {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.color-contact {
  color: $secondary-color;
  fill: $secondary-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    color: $accent-color;
    outline: none;
  }
}

.mobile-menu_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
  min-height: 80px;
}

.btn-menu {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include tablet {
    display: none;
  }

  &:hover,
  &:focus {
    // background: rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
}

.btn-menu-close {
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  min-width: 40px;
  min-height: 40px;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: $mobile-white-bgc;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .btn-menu-close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $basic-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-item {
  @include font(40px, 500, 1.2);

  padding-bottom: 32px;

  &:nth-child(3n) {
    padding-bottom: 0;
  }
}

.menu-link {
  // @include font (40px, 500, 1.2);

  padding: 0;
  color: $basic-text-color;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $accent-color;
    padding: 35px;
  }
}

.mobile-menu {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  padding-top: 48px;
  margin-bottom: 312px;
  list-style: none;
}

.menu-contacts {
  padding-bottom: 64px;

  @include mobile {
    margin-left: 40px;
    padding-bottom: 64px;
  }
}

.color-tel__list {
  padding-bottom: 32px;

  &:nth-child(2n) {
    padding-bottom: 0;
  }
}

.color-tel__link {
  @include font(24px, 500, 1.2);

  color: $secondary-color;
}

.color-tel__accent {
  @include font(34px, 500, 1.2);
  color: $accent-color;
}

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: #fff;
//   text-decoration: none;
// }

.menu-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;

  @include mobile {
    margin-left: 40px;
  }
}

.menu-social__item {
  display: inline-flex;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.menu-social__border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 10px 0 10px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(0deg);

  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
}

.menu-social__link {
  @include font(18px, 500, 1.2);

  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $accent-color;
  padding-bottom: 20px;
  outline: none;
}

.menu-social__box {
  @include mobile {
    display: inline-flex;
  }

  display: flex;
  justify-content: center;
}
