.hero-box {
  padding: 0;
}
.hero {
  display: flex;
  justify-content: center;
  background: $basic-fon-site;
  text-align: center;
  max-width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/bg-fon-mobile_1x.jpg);

  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/bg-fon-mobile_2x.jpg);
  }
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 118px;

  @include tablet {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/bg-fon-tablet_1x.jpg);
    padding: 118px 204px;

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/bg-fon-tablet_2x.jpg);
    }
  }

  @include desktop {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-fon_1x.jpg);

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-fon_2x.jpg);
    }

    padding-top: 200px;
    padding-bottom: 200px;
  }

  &-text {
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06;
    text-transform: uppercase;
    color: $hero-text;
    min-width: 320px;

    @include desktop {
      margin: 0 auto;
      margin-bottom: 40px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.4;
      letter-spacing: 0.06;
      color: $hero-text;
      width: 696px;
    }
  }
}

.hero-btn {
  @include font(16px, 700, 1.9);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 24px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 00.06em;
  color: $white-text;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  // outline: none;

  &:focus {
    outline: 1px solid white;
  }

  @include desktop {
    padding: 10px 34px;
  }
}
