.conteiner {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;

  @include mobile {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  }

  @include tablet {
    
  }

  @include desktop {
    margin: 0 auto;

    padding: 0;
  }
}

.list {
  padding: 0;
  // margin: 0;
  list-style: none;
}

// .site-nav {
//   display: flex;
// }

// .indent {
//   margin-left: 94px;
// }

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1600px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
