    $accent-color: #2196f3;
    $basic-text-color: #212121;
    $logo-color: #000000;
    $secondary-color: #757575;
    $btn-bgc-filter: #f5f4fa;
    $bgc-team: #f5f4fa;
    $bgc-icon: #f5f4fa;
    $hero-text: #ffffff;
    $team-bgc-icon: #ffffff;
    $modal-white-bgc: #ffffff;
    $mobile-white-bgc: #ffffff;
    $hover-fill-icon: #ffffff;
    $white-text: #ffffff;
    $basic-fon-site: #2f303a;
    $contacts-color: rgba(255, 255, 255, 0.6);
    $designat-border-color: #eeeeee;
    $fill-icon: #afb1b8;
    $general-bgc: rgba(47, 48, 58, 0.8);
    $overlay-bgc: rgba(33, 150, 243, 0.9);