/* body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--title-text-color);
} */

/* :root {
  --transitional-text-color: #2196f3;
  --title-text-color: #212121;
  --black-text-color: #000000;
  --grey-text-color: #757575;
  --btn-background-filter: #f5f4fa;
  --btn-white-color: #ffffff;
  --color-fon-site: #2f303a;
  --rgba-text-color: rgba(255, 255, 255, 0.6);
  --bgc-border-portfolio: #eeeeee;
  --border-icon-logo: #afb1b8;
  --img-bgc-color: rgba(47, 48, 58, 0.8);
  --cards-fon-blue: rgba(33, 150, 243, 0.9);
} */

/* h1,
h2,
h3,
p,
ul {
  margin: 0;
} */

/* img {
  display: block;
} */

/* .conteiner {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px; */
/* } */

/* .header-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ececec;
} */

/* .logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-text-color);
} */

/* .logo-span {
  color: var(--transitional-text-color);
}

.logo:focus {
  outline: none;
} */

/* .list {
  padding: 0;
  margin: 0;
  list-style: none;
} */

/* Site nav */
/* .main-nav {
  display: flex;
  align-items: center;
} */

/* .nav-link {
  text-decoration: none;
} */

/* .site-nav {
  display: flex;
} */

/* .indent {
  margin-left: 94px;
} */

/* .nav-item .item + .item {
  margin-left: 50px;
} */

/* .nav-link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;
  color: currentColor;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .current {
  position: relative;
  display: block;
  color: var(--transitional-text-color);
} */

/* .nav-link:hover,
.nav-link:focus {
  color: var(--transitional-text-color);
  outline: none;
} */

/* .nav-link.current {
  color: var(--transitional-text-color);
} */
/* 
.item .current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--transitional-text-color);
} */

/* .auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
} */

/* .contacts-header {
  color: var(--grey-text-color);
}

.contact-icon {
  display: flex;
}

.contact-svg {
  margin: 0;
  padding: 0;
  margin-right: 10px;
} */

/* Portfolio */
/* .cards-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
} */

/* .cards {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .cards-overlay {
  position: relative;
  overflow: hidden;
} */

/* .cards-link:hover .card-text,
.cards-link:focus .card-text {
  transform: translateY(0);
} */

/* .overlay-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--btn-white-color);
  padding: 68px 24px;

  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;

  background: var(--cards-fon-blue);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
} */

/* .btn-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  color: var(--title-text-color);
  background-color: var(--btn-background-filter);
  border-radius: 4px;
  padding: 6px 32px;
  border: none;
  cursor: pointer;
  min-width: 73px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .btn-filter:hover,
.btn-filter:focus {
  color: var(--btn-white-color);
  background-color: var(--transitional-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
} */

/* .cards-list {
  display: flex;
  flex-wrap: wrap;
} */

/* .cards-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-item:nth-child(n + 7) {
  margin-bottom: 0;
} */

/* .designat-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
} */

/* .designat-text {
  line-height: 1.9;
  color: var(--grey-text-color);
} */

/* .designat {
  padding: 20px 24px;
  border-left: 1px solid var(--bgc-border-portfolio);
  border-bottom: 1px solid var(--bgc-border-portfolio);
  border-right: 1px solid var(--bgc-border-portfolio);
  margin-top: -4px;
} */

/* Maim section */
/* .hero {
  display: flex;
  background: var(--color-fon-site);
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
} */

/* .hero-text {
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--btn-white-color);
  width: 696px;
} */

/* About section */
/* .about-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
} */

/* .conteiner.about-text {
  margin-top: 0;
  padding-bottom: 0;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .about-icon {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
} */

/* .about-list {
  display: flex;
  flex-wrap: wrap;
} */

/* .about-item {
  width: 270px;
  margin-right: 30px;
} */

/* .about-item:nth-child(4n) {
  margin-right: 0;
} */

/* .about-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey-text-color);
} */

/* img section */
/* .general {
  margin: 0 auto;
  padding-bottom: 94px;
} */

/* .general-list {
  flex-wrap: wrap;
} */

/* .general-item {
  max-width: 370px;
  margin-right: 30px;
} */

/* .img-nogap {
  height: auto;
} */

/* .img-item:nth-child(3n) {
  margin-right: 0;
} */

/* .general-title {
  margin: 0;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
} */

/* .no-gap.img-nogap {
  display: block;
} */

/* .general-overley {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .general-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: var(--img-bgc-color);
} */

/* .general-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* Team setion */
/* .team-our {
  background: var(--btn-background-filter);
  margin-right: auto;
  margin-left: auto;
} */

/* .team {
  margin-top: 0;
  margin-bottom: 0;
} */

/* .team-list {
  display: flex;
  flex-wrap: wrap;
} */

/* .team-item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .team-item:nth-child(4n) {
  margin-right: 0;
} */

/* .team-title {
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
} */

/* Team section */
/* .team-name__title {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
} */

/* .team-bgc {
  background-color: var(--btn-white-color);
} */

/* .team-name__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  line-height: 1.9;
  color: #757575;
} */

/* .team-social {
  display: flex;
  justify-content: center;
} */

/* .team-social__icon {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  background-color: var(--btn-white-color);
  border-radius: 50%;
  fill: var(--border-icon-logo);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .team-social__icon:hover,
.team-social__icon:focus {
  background-color: var(--transitional-text-color);
  fill: var(--btn-white-color);
  background: var(--transitional-text-color);
  fill: var(--btn-white-color);
  outline: none;
} */

/* .team-social__item {
  margin-right: 10px;
}

.team-social__item:nth-child(4n) {
  margin-right: 0;
} */

/* .team-name {
  padding: 30px 32px;
} */

/* Clients section */
/* .clients-container {
  display: flex;
  width: 170px;
  height: 92px;
} */

/* .clients-list {
  display: flex;
} */

/* .clients-item {
  margin-right: 30px;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
} */

/* .clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-icon-logo);
  border-radius: 4px;
  justify-content: center;
  fill: var(--border-icon-logo);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .clients-link:hover, 
  .clients-link:focus {
    border: 1px solid var(--transitional-text-color);
    fill: var(--transitional-text-color);
    outline: none;
  }

/* .clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  padding-bottom: 50px;
} */

/* Footer section */
/* .logo-footer {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--btn-white-color);
  margin-bottom: 20px;
} */

/* .footer {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-fon-site);
} */

/* .container-footer {
  display: flex;
  align-items: baseline;
} */

/* .footer-address {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 231px;
} */

/* .address-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--btn-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--transitional-text-color);
  outline: none;
} */

/* .address-list {
  margin-top: 0;
  margin-bottom: 9px;
  padding: 0;
} */

/* .address-contacts {
  color: var(--rgba-text-color);
} */

/* .item-socf:nth-child(4n) {
  margin-right: 0;
} */

/* .action {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-white-color);
} */

/* .action-footer {
  display: block;
  margin-left: 70px;
  width: 206px;
} */

/* .action__list {
  display: flex;
  flex-wrap: wrap;
} */

/* .color-contact {
  color: var(--grey-text-color);
  fill: var(--grey-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-contact:hover,
.color-contact:focus {
  fill: var(--transitional-text-color);
  color: var(--transitional-text-color);
  outline: none;
} */

/* .action__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action__link:hover,
.action__link:focus {
  background: var(--transitional-text-color);
  background: var(--transitional-text-color);
  outline: none;
} */

/* .action__item {
  margin-right: 10px;
}

.action__item:nth-child(4n) {
  margin-right: 0;
} */

/* <!-- Subscribe подписаться --> */

/* .subscribe {
  width: 570px;
  margin-left: 90px;
} */

/* .subscribe-form {
display: inline-flex;
margin: 0;
padding: 0;
} */

/* .subscribe-form__label {
  margin: 0 auto;
  padding: 0 auto;
  flex-direction: column;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
} */

/* .subscribe-form__write {
  padding: 15px 0 15px 16px;
  width: 358px;

  color: var(--btn-white-color);
  font-size: 16px;
  line-height: 1.3;

  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  transform: translate(0);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .subscribe-form__write:hover {
  border-color: var(--transitional-text-color);
}

.subscribe-form__write:not(:placeholder-shown) {
  overflow: hidden;
} */

/* .subsc-form:focus-within .subsc-write {
  color: var(--btn-white-color);
} */

/* .subscribe-form__write input::placeholder {
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 34px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 00.06em;
  color: var(--btn-white-color);
  background-color: var(--transitional-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
} */

/* .btn-footer {
  display: inline-flex;
  margin: 0;
  padding: 0;
  padding: 10px 28px;
  margin-left: 12px;
} */

/* .subsc-list {
  margin-right: 12px;
} */

/* .subsc-list:nth-child(2n) {
  margin-right: 0;
} */

/* .subsc-link {
  margin-bottom: 0;
} */

/* .icon-telegram {
  display: flex;
  margin-left: 10px;
  fill: white;
} */

/* Modal */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
} */

/* .modal-hero {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--btn-white-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

/* .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--btn-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--black-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .close-btn:hover {
  fill: var(--transitional-text-color);
} */

/* Form modal */
/* .data {
  display: block;
  margin: 0;
  padding: 0;
  width: 528px;
} */

/* .data__action {
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin: 0 auto;
  padding: 0 auto;
  padding-top: 28px;
  margin-bottom: 30px;
} */

/* .data-field {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 28px;
  width: 448px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--grey-text-color);
} */

/* .data-field__input {
  margin: 0;
  padding: 10px 12px 10px 42px;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
} */

/* .data-field__text {
  position: absolute;
  top: 50%;
  left: 42px;

  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .data-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  margin: 0;

  transform: translateY(-50%);
} */

/* .person {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  fill: black;
  width: 18px;
} */
/* 
.data-flex {
  display: block;
} */

/* .data-field:focus-within > .data-field__icon {
  fill: #2196f3;
}

.data-field:focus-within > .data-field__text {
  transform: translateY(-35px);
  left: 0;
  padding-bottom: 4px;
}

.data-field:not(:focus-within) > .data-field__text {
  left: 42px;
}

.data-field__input:not(:placeholder-shown) + .data-field__text {
  transform: translateY(-35px);
  left: 0;
} */

/* .comment-plh:not(:placeholder-shown) + .comment__input {
  color: #2195f300;
  overflow: hidden;
} */

/* .data-field__input:focus {
  border-color: #2196f3;
} */

/* .comment {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 448px;
  margin-bottom: 28px;
  margin: 0 auto;
  left: 0 auto;
} */

/* .comment {
  margin-bottom: 20px;
} */

/* .comment__text {
  display: block;
  position: relative;
  padding-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 00.01em;
  color: var(--grey-text-color);
} */

/* .comment__input {
  position: absolute;
  top: 10%;
  left: 0%;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.2;
  color: rgba(117, 117, 117, 0.5);

  transform: translate(0);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .data-field:focus-within > .comment__input {
  transform: translate(0);
  left: 0;
  color: rgba(240, 248, 255, 0);
} */

/* .comment-plh {
  width: 448px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--title-text-color);
} */

/* .policy {
  display: flex;
  align-items: baseline;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
} */

/* .policy__link {
  border-bottom: 1px solid var(--transitional-text-color);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
} */

/* .btn-form {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
  margin-top: 30px;
} */

/* .policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .policy__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 20px;
  left: 52px;
  transform: translate(-50%, -50%);
   border: 2px solid var(--title-text-color);
  border-radius: 4px;
} */

/* .policy__text {
  position: absolute;
  align-items: baseline;
  top: 20px;
  left: 77px;
  transform: translate(-0%, -40%);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
} */

/* .policy__checkbox:checked + .policy__icon {
  border: 2px solid var(--transitional-text-color);
  background-color: var(--transitional-text-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
} */
